<form>
  <div class='form-group'>
    <label>{{localize 'DSA.modificator'}}</label>
    <input
      type='text'
      name='modificator'
      value='0'
      placeholder='z.B. +5 oder -4'
    />
  </div>
</form>