<div class='karma'>
  {{#each owned.talents as |talent id|}}
    {{#if (eq talent.system.category 'karma')}}
      <div class='talent' data-attribute='{{talent._id}}'>
        <div class='form-group talent' data-attribute='{{talent._id}}'>
          <div class='talent-label'><a
              name='{{talent._id}}'
              title='Probe'
            >{{talent.name}}</a></div>
          <div class='flexrow'>
            <input
              name='owned.{{talent._id}}.system.value'
              type='number'
              value='{{talent.system.value}}'
              placeholder='Wert'
            />
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
  <div
    class='form-group liturgy'
    data-attribute='{{liturgy._id}}'
    style='margin-top: 30px;'
  >
    <div class='liturgy-label'></div>
    <div class='flexrow'>
      <div>
        {{localize 'DSA.degree'}}
      </div>
      <div>
        {{localize 'DSA.targetClasses'}}
      </div>
      <div>
        {{localize 'DSA.range'}}
      </div>
      <div>
        {{localize 'DSA.liturgyCastTime'}}
      </div>
    </div>
  </div>
  {{#each owned.liturgys as |liturgy id|}}
    <div
      class='form-group liturgy'
      data-attribute='{{liturgy._id}}'
      style='margin-bottom: 10px;'
    >
      <div class='liturgy-label'>
        <a class='open-ll-page' data-ll-Page='{{liturgy.system.llPage}}'><i
            class='fas fa-book'
          ></i></a>
        <a class='item-edit' name='{{liturgy._id}}'><i
            class='fas fa-wrench'
          ></i></a>
        <a
          class='roll-liturgy'
          name='{{liturgy._id}}'
          title='Probe'
        >{{liturgy.name}}</a>
      </div>
      <div class='flexrow'>
        <div>
          {{liturgy.system.degree}}
        </div>
        <div>
          {{#each liturgy.system.targetClasses as |targetClass i|}}
            {{targetClass}}{{#unless @last}},{{/unless}}
          {{/each}}
        </div>
        <div>
          {{liturgy.system.range}}
        </div>
        <div>
          {{liturgy.system.castTime.duration}}
          {{liturgy.system.castTime.unit}}
        </div>
      </div>
    </div>
  {{/each}}
</div>