<div class='sources'>
  {{#each owned.sources as |source id|}}
    <div class='form-group source' data-attribute='{{source._id}}'>
      <div class='spell-label'>
        <a class='item-edit' name='{{source._id}}'><i
          class='fas fa-wrench'
        ></i></a>
        <a
          class='roll-source'
          name='{{source._id}}'
          title='Probe'
        >{{source.name}}</a>
        (
        {{localize (concat 'DSA.' source.testAttributes.[0] '_abbr')}} /
        {{localize (concat 'DSA.' source.testAttributes.[1] '_abbr')}} /
        {{localize (concat 'DSA.' source.testAttributes.[2] '_abbr')}}
        )
      </div>
      <div class='flexrow'>
        <input
          name='owned.{{source._id}}.system.value'
          type='number'
          value='{{source.system.value}}'
          placeholder='Wert'
        />
      </div>
  </div>
  {{/each}}
</div>