<script lang="ts">
  import Effect from './Effect.svelte'

  import { getContext } from 'svelte'
  import { Writable } from 'svelte/store'
  import { DsaActor } from '../../../module/actor/actor.js'

  let doc = getContext<Writable<DsaActor>>('doc')

  $: effects = $doc.effects.contents
</script>

<div class="effects-list">
  {#each effects as effect}
    <Effect bind:effect />
  {/each}
</div>
