<script lang="ts">
  import { getContext } from 'svelte'

  import { getLocalizer } from '../../../module/utils.js'
  import Dialog from '../../Dialog.svelte'
  import FormulaRoll from '../../roll-dialog/FormulaRoll.svelte'

  import { Character } from '../../../module/character/character.js'
  import { RollableSkill } from '../../../module/character/skill.js'
  import { CharacterDataAccessor } from '../../../module/model/character.js'
  import { Readable, Writable } from 'svelte/store'
  import { DataAccessor } from '../../../module/model/item-data.js'
  import { Nameable } from '../../../module/model/utils.js'
  import {
    FormulaParameterClassNames,
    getInstructions,
  } from '../../../module/model/myranor-magic.js'

  const localize = getLocalizer()
  const isEditMode = getContext<Readable<boolean>>('isEditMode')

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')
  let character = new Character($doc)

  const alt = localize('book')

  const instructionsPromise = getInstructions()

  export let formula: Nameable<DataAccessor<'formula'>>

  $: skill = RollableSkill.create(formula, character)

  let rollDialog

  const formatFormulaParameters = (parameters) => {
    return FormulaParameterClassNames.map((parameterClass) =>
      localize(`formula-${parameterClass}-${parameters[parameterClass]}`)
    ).join(' | ')
  }

  function rollFormula(modifiers, mod) {
    skill?.roll({ modifiers, mod })
  }

  let editDialog = () => formula.sheet.render(true)

  function update() {
    formula.update({ ...formula })
  }
</script>

<Dialog
  bind:this={rollDialog}
  title={localize('skillRollDialog')}
  dialogComponent={FormulaRoll}
  {character}
  callback={rollFormula}
  {skill}
/>

<div class="formula" on:change={update}>
  <div class="formula-grid">
    <img
      class="formula-icon"
      src={formula.img}
      title={formula.system.name}
      {alt}
      data-edit="img"
    />

    <div class="formula-roll" data-testid="formula-roll">
      <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
      <a
        on:click={rollDialog.open}
        class="formula-name"
        data-testid="formula-name">{formula.name}</a
      >
    </div>

    <div
      class="formula-asp formula-instructionName formula-parameters formula-grid-parameters"
    >
      {#if formula.system.asp > 0}
        {formula.system.asp}
        {#if formula.system.pasp > 0}
          ({formula.system.pasp})
        {/if}
        {localize('asp')}
        ||
      {/if}
      {#await instructionsPromise}
        ...
      {:then instructions}
        {instructions.find(
          (instruction) => instruction._id === formula.system.instructionId
        )?.name}
        ||
        {formatFormulaParameters(formula.system.parameters)}
      {/await}
    </div>

    {#if $isEditMode}
      <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
      <a on:click={editDialog} data-testid="formula-edit"
        ><i class="fas fa-wrench" /></a
      >
    {/if}
  </div>
</div>

<style>
  .formula {
    margin-bottom: 0.25rem;
  }

  .formula-icon {
    align-self: center;
    height: 2rem;
    width: 2rem;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .formula-roll {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .formula-name {
    font-size: large;
    vertical-align: top;
  }

  .formula-grid {
    display: grid;
    grid-template-columns: 2em auto 2em;
    gap: 0.1em;
    padding: 0.375em;
  }

  .formula-grid-parameters {
    grid-column-start: 2;
    grid-column-end: 3;
  }
</style>
