<script lang="ts">
  import { getContext } from 'svelte'
  import {
    DataAccessor,
    PhysicalItemType,
    isGeneric,
  } from '../../../module/model/item-data.js'
  import { hasName } from '../../../module/model/utils.js'
  import { getLocalizer } from '../../../module/utils.js'

  const localize = getLocalizer()
  export var items: DataAccessor<PhysicalItemType>[]

  $: sortedItems = items
    .filter(hasName)
    .sort((a, b) => a.name.localeCompare(b.name))

  const application = getContext<any>('#external').application

  let editDialog = (item) => () => item.sheet.render(true)
  let deleteItem = (item) => () => item.delete()
</script>

<div class="items">
  <table class="item-list">
    <th />
    <th>{localize('name')}</th>
    <th>{localize('weight')}</th>
    <th />

    {#each sortedItems as item}
      <tr
        class="equipment-row item"
        data-item-id={item.id}
        data-testid="item-entry"
        on:dragstart={(event) => application._onDragStart(event)}
        draggable="true"
      >
        <td class="centered-table-content"
          ><img src={item.img} title={item.name} alt={item.name} /></td
        >
        <td data-testid="item-name">
          {item.name}{#if isGeneric(item)}
            (x{item.system.quantity}){/if}
        </td>
        <td>{item.system.weight}</td>
        <td class="centered-table-content">
          <div class="item-controls" style="flex: unset; margin-left: 5px;">
            <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
            <a
              class="item-edit"
              data-testid="item-edit"
              title={localize('edit')}
              on:click={editDialog(item)}><i class="fas fa-edit" /></a
            >
            <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
            <a
              class="item-delete"
              data-testid="item-delete"
              title={localize('delete')}
              on:click={deleteItem(item)}><i class="fas fa-trash" /></a
            >
          </div>
        </td>
      </tr>
    {/each}
  </table>
</div>

<style>
  td img {
    height: 32px;
  }
</style>
