<script lang="ts">
  import { TalentCategory } from '../../../module/enums.js'
  import LiturgyList from './LiturgyList.svelte'
  import TalentList from './TalentList.svelte'
</script>

<TalentList talentCategories={[TalentCategory.Karma]} />
<LiturgyList />
