<script lang="ts">
  import { getContext } from 'svelte'

  import { getLocalizer } from '../../../module/utils.js'
  import Dialog from '../../Dialog.svelte'
  import LiturgyRoll from '../../roll-dialog/LiturgyRoll.svelte'
  import Input from '../../Input.svelte'

  import { Character } from '../../../module/character/character.js'
  import { RollableSkill } from '../../../module/character/skill.js'
  import { CharacterDataAccessor } from '../../../module/model/character.js'
  import { Readable, Writable } from 'svelte/store'
  import { openPDFPage } from '../../../module/pdf-integration.js'
  import { RuleBook } from '../../../module/enums.js'
  import { DataAccessor } from '../../../module/model/item-data.js'
  import { Nameable } from '../../../module/model/utils.js'

  const localize = getLocalizer()
  const isEditMode = getContext<Readable<boolean>>('isEditMode')
  const application = getContext<any>('#external').application

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')
  let character = new Character($doc)

  export let liturgy: Nameable<DataAccessor<'liturgy'>>

  $: skill = RollableSkill.create(liturgy, character)

  let rollDialog

  function rollLiturgy(modifiers, mod) {
    skill?.roll({ modifiers, mod })
  }

  let editDialog = () => liturgy.sheet.render(true)

  function update() {
    liturgy.update({ ...liturgy })
  }
</script>

<Dialog
  bind:this={rollDialog}
  title={localize('skillRollDialog')}
  dialogComponent={LiturgyRoll}
  {character}
  callback={rollLiturgy}
  {skill}
/>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<div
  class="liturgy"
  on:change={update}
  data-item-id={liturgy.id}
  on:dragstart={(event) => application._onDragStart(event)}
  draggable="true"
>
  <div class="liturgy-label" data-testid="liturgy-label">
    {#if $isEditMode}
      <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
      <a on:click={editDialog} data-testid="liturgy-edit"
        ><i class="fas fa-wrench" /></a
      >
    {/if}
    <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
    <a
      on:click={() =>
        openPDFPage(RuleBook.LiberLiturgium, liturgy.system.llpage)}
      data-testid="open-pdf"><i class="fas fa-book" /></a
    >

    <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
    <a on:click={rollDialog.open} data-testid="liturgy-roll">{liturgy.name}</a>
  </div>

  <div class="liturgy-attributes">
    <div data-testid="liturgy-degree">
      <Input bind:value={liturgy.system.degree} />
    </div>
    <div data-testid="liturgy-targetClasses">
      {liturgy.system.targetClasses.join(', ')}
    </div>
    <div data-testid="liturgy-range">{liturgy.system.range}</div>
    <div data-testid="liturgy-casttime">
      {liturgy.system.castTime.duration}
      {liturgy.system.castTime.unit}
    </div>
  </div>
</div>

<style>
  .liturgy {
    line-height: 200%;
    font-size: medium;
    display: flex;
  }

  .liturgy-attributes {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .liturgy-label {
    width: 40%;
  }
</style>
