<script lang="ts">
  import { getContext } from 'svelte'

  import { getLocalizer } from '../../../module/utils.js'
  import Dialog from '../../Dialog.svelte'
  import SourceRoll from '../../roll-dialog/SourceRoll.svelte'
  import Input from '../../Input.svelte'

  import { Character } from '../../../module/character/character.js'
  import { RollableSkill } from '../../../module/character/skill.js'
  import { CharacterDataAccessor } from '../../../module/model/character.js'
  import { Readable, Writable } from 'svelte/store'
  import { DataAccessor } from '../../../module/model/item-data.js'
  import { Nameable } from '../../../module/model/utils.js'

  const localize = getLocalizer()
  const isEditMode = getContext<Readable<boolean>>('isEditMode')

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')
  let character = new Character($doc)

  export let source: Nameable<DataAccessor<'source'>>

  $: skill = RollableSkill.create(source, character)

  let rollDialog

  function rollSource(modifiers, mod) {
    skill?.roll({ modifiers, mod })
  }

  let editDialog = () => source.sheet.render(true)

  function update() {
    source.update({ ...source })
  }
</script>

<Dialog
  bind:this={rollDialog}
  title={localize('skillRollDialog')}
  dialogComponent={SourceRoll}
  {localize}
  {character}
  callback={rollSource}
  {skill}
/>

<div class="source" on:change={update}>
  <div class="source-label" data-testid="source-label">
    {#if $isEditMode}
      <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
      <a on:click={editDialog} data-testid="source-edit"
        ><i class="fas fa-wrench" /></a
      >
    {/if}

    <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
    <a on:click={rollDialog.open} data-testid="source-roll"
      >{skill.name}
      (
      {localize(skill.testAttributes[0] + '_abbr')} /
      {localize(skill.testAttributes[1] + '_abbr')} /
      {localize(skill.testAttributes[2] + '_abbr')}
      )
    </a>
  </div>

  <div class="source-attributes">
    <div data-testid="source-value">
      <Input type="number" bind:value={skill.item.system.value} />
    </div>
  </div>
</div>

<style>
  .source {
    line-height: 200%;
    font-size: medium;
    display: flex;
  }

  .source-attributes {
    display: flex;
    justify-content: space-between;
    width: 34%;
  }

  .source-label {
    width: 66%;
  }
</style>
