<script lang="ts">
  import { getContext } from 'svelte'
  import { getLocalizer } from '../../../module/utils.js'
  import Dialog from '../../Dialog.svelte'
  import TalentRoll from '../../roll-dialog/TalentRoll.svelte'
  import Input from '../../Input.svelte'
  import { Skill } from '../../../module/character/skill.js'
  import {
    DataAccessor,
    TalentItemType,
    isTestable,
  } from '../../../module/model/item-data.js'
  import { isRollable } from '../../../module/model/properties.js'
  import type { ModifierDescriptor } from '../../../module/model/modifier.js'
  import { Character } from '../../../module/character/character.js'
  import { Readable, Writable } from 'svelte/store'
  import { CharacterDataAccessor } from '../../../module/model/character.js'

  const localize = getLocalizer()
  const isEditMode = getContext<Readable<boolean>>('isEditMode')
  const application = getContext<any>('#external').application

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')
  let character = new Character($doc)

  export let talent: DataAccessor<TalentItemType>

  $: skill = Skill.create(talent, character)

  let rollDialog

  function rollTalent(modifiers: ModifierDescriptor[], options: any) {
    if (isTestable(talent.system) && skill !== undefined && isRollable(skill)) {
      skill.roll({
        modifiers,
        ...options,
      })
    }
  }
  let editDialog = () => talent.sheet.render(true)

  function update() {
    talent.update({ ...talent })
  }
</script>

<Dialog
  bind:this={rollDialog}
  title={localize('skillRollDialog')}
  dialogComponent={TalentRoll}
  {character}
  callback={rollTalent}
  {skill}
/>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<div
  class="form-group talent flexrow"
  on:change={update}
  data-item-id={talent.id}
  on:dragstart={(event) => application._onDragStart(event)}
  draggable="true"
>
  <div class="talent-label" data-testid="talent-label">
    {#if $isEditMode}
      <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
      <a on:click={editDialog} data-testid="talent-edit"
        ><i class="fas fa-wrench" /></a
      >
    {/if}
    {#if talent.type === 'scripture'}
      <i class="fas fa-feather" />
    {/if}
    {#if talent.type === 'language'}
      <i class="fas fa-comments" />
    {/if}
    <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
    <a on:click={rollDialog.open} data-testid="talent-roll"
      >{talent.name}

      {#if isTestable(talent.system)}
        (
        {localize(talent.system.test.firstAttribute + '_abbr')} /
        {localize(talent.system.test.secondAttribute + '_abbr')} /
        {localize(talent.system.test.thirdAttribute + '_abbr')}
        )
      {/if}
    </a>
  </div>
  <div class="flexrow">
    <div>
      {#if talent.system.effectiveEncumbarance.type == 'none'}
        -
      {/if}
      {#if talent.system.effectiveEncumbarance.type == 'special'}
        {localize('special')}
      {/if}
      {#if talent.system.effectiveEncumbarance.type == 'formula'}
        {talent.system.effectiveEncumbarance.formula}
      {/if}
    </div>
    {#if talent.type != 'combatTalent'}
      <div />
      <div />
      <div data-testid="talent-value">
        <Input bind:value={talent.system.value} />
      </div>
    {:else}
      {#if talent.system.combat.category === 'melee' || talent.system.combat.category === 'unarmed'}
        <div data-testid="talent-attack">
          <Input bind:value={talent.system.combat.attack} />
        </div>
        <div data-testid="talent-parry">
          <Input bind:value={talent.system.combat.parry} />
        </div>
      {/if}
      {#if talent.system.combat.category === 'ranged'}
        <div data-testid="talent-ranged-attack">
          <Input bind:value={talent.system.combat.rangedAttack} />
        </div>
        <div />
      {/if}
      {#if talent.system.combat.category === 'special'}
        <div data-testid="talent-attack">
          <Input bind:value={talent.system.combat.attack} />
        </div>
      {/if}
      <div data-testid="talent-value">
        <Input bind:value={talent.system.value} />
      </div>
    {/if}
  </div>
</div>

<style>
  .talent {
    line-height: 200%;
    font-size: medium;
  }
</style>
