<script lang="ts">
  import Roll from './Roll.svelte'
  import type {
    ManeuverDescriptor,
    ModifierDescriptor,
  } from '../../module/model/modifier.js'
  import { BaseCombatOptions } from '../../module/model/character.js'
  import { CombatTalent } from '../../module/model/properties.js'
  import { Weapon } from '../../module/model/items.js'
  import { modifierLabel } from '../../module/i18n.js'

  export var localize: (key: string) => string
  export var availableManeuvers: ManeuverDescriptor[]

  export var callback: (modifiers: Map<string, ModifierDescriptor>) => void
  export var lastManeuver: ManeuverDescriptor[] | undefined = undefined
  export var actionModifierCalculator: (
    options: BaseCombatOptions
  ) => Map<string, ModifierDescriptor>
  export var talent: CombatTalent | undefined
  export var weapon: Weapon | undefined
  export var modifiers = new Map<string, ModifierDescriptor>()

  let maneuvers = new Map<string, ManeuverDescriptor>()

  $: modifiers = actionModifierCalculator({
    maneuvers: [...maneuvers.values()],
    talent: talent as CombatTalent,
    weapon: weapon as Weapon,
  })

  let selectedManeuver: ManeuverDescriptor | undefined = undefined

  const highestMod = 15
  $: lowestMod = selectedManeuver?.minMod || 0
  $: modifierValues = [...Array(highestMod + 1 - lowestMod).keys()].map(
    (i) => i + lowestMod
  )

  function deleteManeuver(maneuverName: string) {
    return () => {
      maneuvers.delete(maneuverName)
      maneuvers = maneuvers
    }
  }

  function selectManeuver(maneuver) {
    return () => {
      selectedManeuver = maneuver
    }
  }

  function addManeuver(mod: number) {
    return () => {
      if (selectedManeuver) {
        selectedManeuver.mod = mod
        maneuvers = maneuvers.set(selectedManeuver.name, {
          ...selectedManeuver,
        })
        maneuvers = maneuvers
      }
      selectedManeuver = undefined
    }
  }

  function loadLastManeuver() {
    maneuvers = new Map()
    if (lastManeuver) {
      for (const maneuver of lastManeuver) {
        maneuvers = maneuvers.set(maneuver.name, { ...maneuver })
      }
    }
  }
</script>

<Roll bind:modifiers {callback} {localize}>
  <svelte:fragment slot="options">
    <button on:click={loadLastManeuver} style="margin-bottom: 20px"
      >{localize('lastManeuver')}</button
    >
    {#if selectedManeuver}
      <div class="wrapperMod">
        {#each modifierValues as modifierValue}
          <div>
            <button on:click={addManeuver(modifierValue)}
              >{modifierValue}</button
            >
          </div>
        {/each}
      </div>
    {:else}
      <div class="wrapper">
        {#each availableManeuvers as maneuver}
          <div>
            <button on:click={selectManeuver(maneuver)}
              >{localize(maneuver.name)}</button
            >
          </div>
        {/each}
      </div>
    {/if}
  </svelte:fragment>
  <div slot="modifier" let:modifier>
    <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
    <a on:click={deleteManeuver(modifier.name)}><i class="fas fa-trash" /></a>
    {modifierLabel(modifier, localize)}
    :
    {modifier.mod}<br />
  </div>
</Roll>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: minmax(auto, auto) 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); */
    gap: 10px;
    grid-auto-rows: 40px;
  }

  .wrapperMod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 10px;
    grid-auto-rows: 40px;
  }
</style>
