<script lang="ts">
  import { ManagedPromise } from '@typhonjs-fvtt/runtime/util/async'
  import type { ModifierDescriptor } from '../../module/model/modifier.js'
  import { totalModifier } from '../../module/ruleset/rules/basic-roll-mechanic.js'
  import { getContext } from 'svelte'
  import { modifierLabel } from '../../module/i18n.js'

  export var localize: (key: string) => string = () => ''
  export var callback: (
    modifiers: Map<string, ModifierDescriptor>,
    options?: Record<string, unknown>
  ) => void = () => undefined

  export let modifiers = new Map<string, ModifierDescriptor>()
  export let options: Record<string, unknown> = {}

  const managedPromise = getContext<ManagedPromise>('#managedPromise')
  managedPromise
    .get()
    .then((result) => result === true && callback(modifiers, options))

  const customModifier: ModifierDescriptor = {
    name: 'custom',
    mod: 0,
    modifierType: 'other',
  }
  $: {
    modifiers.set('custom', customModifier)
    modifiers = modifiers
  }

  export interface $$Slots {
    options: object
    modifier: { modifier: ModifierDescriptor }
    'options-bottom': object
  }
</script>

<div style="font-size: large">
  <slot name="options" />
  <div style="margin-top:20px;">
    {#each modifiers.values() as modifier}
      {#if modifier.name != 'custom' && !modifier.hidden && modifier.mod != 0}
        <slot name="modifier" {modifier}>
          <div data-testid="modifier-list-entry">
            {modifierLabel(modifier, localize)}
            :
            {modifier.mod * (modifier.multiplier || 1)}<br />
          </div>
        </slot>
      {/if}
    {/each}
  </div>

  <div style="margin-top:20px;">
    {localize('modifier')}
    <input type="number" bind:value={customModifier.mod} />
  </div>
  <slot name="options-bottom" />

  <p style=" font-size: x-large;" data-testid="total-modifier">
    {localize('totalModifier')}: {totalModifier(modifiers)}
  </p>
</div>
