<script lang="ts">
  import SkillRoll from './SkillRoll.svelte'
  import type { ModifierDescriptor } from '../../module/model/modifier.js'
  import type { Spell } from '../../module/model/properties.js'
  import { SpellVariantData } from '../../module/model/item-data.js'

  export var localize: (_key: string) => string
  export var skill: Spell

  export var callback: (
    modifiers: Map<string, ModifierDescriptor>,
    options?: Record<string, unknown>
  ) => void
  export var modifiers = new Map<string, ModifierDescriptor>()

  const spellOptions = skill.spellOptions
  const modifications = spellOptions.spontaneousModifications
  const variants = spellOptions.spellVariants
  let modificationConfig = new Map(
    modifications?.map((modification) => [
      modification,
      { name: modification, count: 0 },
    ])
  )
  let selectedVariants: SpellVariantData[] = []

  $: spellOutcome = skill.spellOutcome({
    spontaneousModifications: modificationConfig,
    spellVariants: new Map(
      selectedVariants.map((variant) => [variant.name, variant])
    ),
  })
  $: modifiers = spellOutcome.modifiers ?? new Map()
  $: targetClasses = spellOutcome.targetClasses ?? []
  $: castTime = spellOutcome.castTime ?? { duration: 0, unit: 'action' }

  function addModification(modification) {
    return () => {
      const modificationConfigItem = modificationConfig.get(modification)
      if (modificationConfigItem) {
        modificationConfigItem.count++
      }
      modificationConfig = modificationConfig
    }
  }

  function removeModification(modification) {
    return () => {
      const modificationConfigItem = modificationConfig.get(modification)
      if (modificationConfigItem) {
        modificationConfigItem.count = Math.max(
          0,
          modificationConfigItem.count - 1
        )
      }
      modificationConfig = modificationConfig
    }
  }
</script>

<SkillRoll bind:modifiers {callback} {localize} {skill}>
  <div slot="skill-info" data-testid="spell-info">
    <div class="flexrow">
      <div>
        <h5>{localize('targetClasses')}:</h5>
        {#each targetClasses as targetClass}
          <div data-testid="target-class">{localize(targetClass)}</div>
        {/each}
        <h5>{localize('castTime')}</h5>
        <div>
          {castTime.duration}
          {localize(castTime.unit)}
          {#if castTime.additionalCastTime !== undefined && castTime.additionalCastTime.duration > 0}
            + {castTime.additionalCastTime.duration}
            {localize(castTime.additionalCastTime.unit)}
          {/if}
        </div>
        <div data-testid="astral-cost">
          <h5>
            {localize('cost')}
          </h5>
          <div>
            {spellOutcome.astralCost}
          </div>
        </div>
      </div>
      <div>
        <div data-testid="range">
          <h5>
            {localize('range')}
          </h5>
          <div>
            {spellOutcome.range.value}
            {#if spellOutcome.range.stepModifier !== 0}
              (+ {spellOutcome.range.stepModifier} {localize('step')})
            {/if}
          </div>
        </div>
        <div data-testid="effect-time">
          <h5>
            {localize('effectTime')}
          </h5>
          <div>
            {spellOutcome.effectTime.value}
            {#if spellOutcome.effectTime.multiplier !== 1}
              {@const multOrDivide =
                spellOutcome.effectTime.multiplier > 1 ? 'x' : '/'}
              {@const factor =
                spellOutcome.effectTime.multiplier > 1
                  ? spellOutcome.effectTime.multiplier
                  : 1 / spellOutcome.effectTime.multiplier}
              ({multOrDivide}
              {factor})
            {/if}
            {#if spellOutcome.requiresUphold}
              ({localize('requiresUpholdAbbr')})
            {/if}
          </div>
        </div>

        {#if spellOutcome.magicResistance !== undefined && spellOutcome.magicResistance !== 0}
          <div data-testid="magic-resistance">
            <h5>
              {localize('magicResistance')}
            </h5>
            <div>
              {spellOutcome.magicResistance}
              {localize('magicResistanceAbbr')}
            </div>
          </div>
        {/if}
      </div>
    </div>
  </div>
  <div slot="skill-options" data-testid="spell-options">
    <h5>
      {localize('spontaneousModifications')}
    </h5>
    {#each modifications as modification}
      <div data-testid="spontaneous-modification">
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <i
          class="fas fa-plus"
          on:click={addModification(modification)}
          on:keydown={addModification(modification)}
          data-testid="add-modification"
        ></i>
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <i
          class="fas fa-minus"
          on:click={removeModification(modification)}
          on:keydown={removeModification(modification)}
          data-testid="remove-modification"
        ></i>
        {localize(modification)} ({modificationConfig.get(modification)
          ?.count ?? 0})
      </div>
    {/each}

    {#if variants.length > 0}
      <h5>
        {localize('variants')}
      </h5>
      {#each variants as variant}
        <div data-testid="spell-variant">
          <input
            type="checkbox"
            bind:group={selectedVariants}
            value={variant}
          />
          {variant.name} ( {variant.modificator} )
        </div>
      {/each}
    {/if}
  </div>
</SkillRoll>

<style>
  h5 {
    margin-bottom: 0;
    margin-top: 0.5em;
    font-weight: bold;
  }
</style>
