<script lang="ts">
  import SkillRoll from './SkillRoll.svelte'
  import type { BaseCharacter } from '../../module/model/character.js'
  import type { ModifierDescriptor } from '../../module/model/modifier.js'
  import type { Talent } from '../../module/model/properties.js'

  export var localize: (_key: string) => string
  export var skill: Talent
  export var character: BaseCharacter

  export var callback: (
    modifiers: Map<string, ModifierDescriptor>,
    options?: Record<string, unknown>
  ) => void
  export var modifiers = new Map<string, ModifierDescriptor>()

  let hasEffectiveEncumbarance = skill.effectiveEncumbarance?.type === 'formula'
  let useEffectiveEncumbarance = hasEffectiveEncumbarance

  $: effectiveEncumbarance =
    skill.effectiveEncumbarance.formula !== undefined
      ? character.effectiveEncumbarance(skill.effectiveEncumbarance.formula)
      : 0

  $: {
    if (useEffectiveEncumbarance) {
      modifiers.set('effectiveEncumbarance', {
        name: 'effectiveEncumbarance',
        mod: effectiveEncumbarance,
        modifierType: 'other',
      })
    } else {
      modifiers.delete('effectiveEncumbarance')
    }
    modifiers = modifiers
  }
</script>

<SkillRoll bind:modifiers {callback} {localize} {skill}>
  <div slot="skill-options" data-testid="effective-encumbarance">
    <input
      type="checkbox"
      bind:checked={useEffectiveEncumbarance}
      disabled={!hasEffectiveEncumbarance}
      data-testid="effective-encumbarance-checkbox"
    />
    {localize('effectiveEncumbarance')}:
    {skill.effectiveEncumbarance.formula}
    =
    {effectiveEncumbarance}
  </div>
</SkillRoll>
