<div class='items'>
  <table class='item-list'>
    <th class='equipment-table-header equipment-table-icon'></th>
    <th class='equipment-table-header'>{{localize 'DSA.Name'}}</th>
    <th class='equipment-table-header equipment-table-weight'>{{localize
        'DSA.weight'
      }}</th>
    <th class='equipment-table-header equipment-table-actions'></th>

    {{#each owned.genericItems as |item id|}}
      <tr class='equipment-row item' data-item-id='{{item._id}}'>
        <td class='centered-table-content'><img
            src='{{item.img}}'
            title='{{item.name}}'
            width='24'
            height='24'
          /></td>
        <td>
          {{item.name}}{{#if item.system.quantity}}
            (x{{item.system.quantity}}){{/if}}
        </td>
        <td>{{item.system.weight}}</td>
        <td class='centered-table-content'>

          <div class='item-controls' style='flex: unset; margin-left: 5px;'>
            <a
              class='item-edit'
              name='{{item._id}}'
              title='{{localize "DSA.edit"}}'
            ><i class='fas fa-edit'></i></a>
            <a
              class='item-delete'
              name='{{item._id}}'
              title='{{localize "DSA.delete"}}'
            ><i class='fas fa-trash'></i></a>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
  <p>
    <a
      class='item-add'
      title='{{localize "DSA.add"}}'
      data-item-type='genericItem'
    ><i class='fas fa-plus'></i>
      {{localize 'DSA.add'}}</a>
  </p>
</div>