<script lang="ts">
  import type { Writable } from 'svelte/store'
  import Input from '../Input.svelte'
  import {
    DataAccessor,
    PropertyItemType,
  } from '../../module/model/item-data.js'

  export let doc: Writable<DataAccessor<PropertyItemType>>

  function updateDoc() {
    $doc.update({ system: { sid } })
  }

  $: sid = $doc?.system?.sid
</script>

<section on:change={updateDoc}>
  Item name: {$doc?.name}<br />
  {#if $doc.system?.sid !== undefined}
    <!-- svelte-ignore a11y-label-has-associated-control -->
    <label>
      SID:
      <Input bind:value={$doc.system.sid} editable={true} type="text" />
    </label>
  {/if}
</section>
