<svelte:options accessors={true} />

<script lang="ts">
  import { ApplicationShell } from '@typhonjs-fvtt/runtime/svelte/component/core'
  import { TJSDocument } from '@typhonjs-fvtt/runtime/svelte/store/fvtt/document'

  import { getContext, setContext } from 'svelte'
  import { getLocalizer } from '../../module/utils.js'

  import SpellSheet from './SpellSheet.svelte'
  import ItemSheetHeader from './ItemSheetHeader.svelte'
  export let doc: TJSDocument
  setContext('doc', doc)
  export let elementRoot

  async function updateDoc(_event) {
    await $doc.update({
      ...$doc,
    })
  }

  const application = getContext<any>('#external').application

  $: application.reactive.storeAppOptions.title.set($doc ? $doc.name : '')

  const localize = getLocalizer()
  setContext('localize', localize)
</script>

<ApplicationShell bind:elementRoot>
  <div on:change={updateDoc}>
    <ItemSheetHeader />
    <SpellSheet on:change={updateDoc} />
  </div>
</ApplicationShell>
