<div class='dice-roll'>
  {{#if modifiers}}
    <div class='dice-flavor'>
      {{#each modifiers as |modifier|}}
        {{#if modifier.[1].mod}}
          {{modifierLabel modifier.[1]}}
          :
          {{modifier.[1].mod}}<br />
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
  <div class='dice-result'>
    <div class='flexrow'>
      {{#each rolls}}
        <div class='dice-total roll-row'>
          <div class='roll {{this.classes}}'>{{{this.total}}}</div>
          <div class='roll-info'>{{this.attributeName}} ({{this.target}})</div>
        </div>
      {{/each}}
    </div>
    {{{tooltip}}}
    <h4 class='dice-total'>{{total}} {{keepLeftName}}</h4>
  </div>
</div>
{{#if damage}}
  <div class='damage-roll'>
    <button data-damage-formula='{{damage}}'>
      {{localize 'DSA.damage'}}:
      {{damage}}
    </button>
  </div>
{{/if}}
{{#if penality}}
  <div class='damage-roll'>
    {{localize 'DSA.penality'}}:
    {{penality}}
  </div>
{{/if}}