<div class='dice-roll'>
  <h3>{{title}}</h3>
  <div class='dice-result'>
    <div class='flexrow'>
      <div class='dice-total roll-row'>
        {{#if resource.dieRoll}}
          <div class='roll'>{{resource.dieRoll}}</div>
          <div class='roll-info'>{{resource.formula}}</div>
        {{else}}
          <div class='roll-roll'>{{resource.formula}}</div>
        {{/if}}
      </div>
      <div class='dice-total roll-row'>
        <div class='roll'>{{resource.bonus.roll.dieRoll}}</div>
        <div class='roll-info'>
          {{resource.bonus.name}}
          ({{resource.bonus.value}})
          {{#if resource.bonus.roll.modifier}}
            {{resource.bonus.roll.modifier}}
          {{/if}}
        </div>
      </div>
    </div>
    <h4 class='dice-total'>{{resource.sum}}</h4>
  </div>
</div>