<script lang="ts">
  import { attributeNames } from '../../module/model/character-data.js'
  import Attribute from './Attribute.svelte'
</script>

<div class="flexrow">
  {#each attributeNames as attributeName}
    <Attribute {attributeName} />
  {/each}
</div>
