<script lang="ts">
  import { fade } from 'svelte/transition'
  import {
    DataAccessor,
    TraitItemType,
    hasValue,
  } from '../../module/model/item-data.js'
  import { getContext } from 'svelte'

  export let trait: DataAccessor<TraitItemType>

  let editDialog = () => trait.sheet.render(true)
  const application = getContext<any>('#external').application

  let collapsed = true

  function toggleCollapsed() {
    collapsed = !collapsed
  }
</script>

<!-- svelte-ignore a11y-interactive-supports-focus -->
<div
  class="trait"
  role="gridcell"
  data-item-id={trait.id}
  draggable="true"
  on:dragstart={(event) => application._onDragStart(event)}
>
  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <div
    class="trait-label"
    on:click={toggleCollapsed}
    on:keydown={toggleCollapsed}
  >
    {trait.name}
    {#if hasValue(trait.system)}
      ({trait.system.value})
    {/if}
  </div>
  {#if !collapsed}
    <div transition:fade>
      <!-- svelte-ignore a11y-no-static-element-interactions a11y-missing-attribute -->
      <a on:click={editDialog} on:keydown={editDialog} data-testid="link">
        <i class="fas fa-edit" />
      </a>
      {trait.system.description}
    </div>
  {/if}
</div>

<style>
  .trait {
    background-color: rgba(255, 255, 255, 0.125);
    border: 1px solid #bbb;
    border-radius: 3px;
  }
</style>
