<form class='{{cssClass}}' autocomplete='off'>
  {{! Item Sheet Header }}
  <header class="dsa-item-header" data-item-id="{{item.id}}">
    <img class="dsa-item-header-icon" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

    <h1 class="dsa-item-header-input">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
    </h1>
    <div class="dsa-item-header-controls">
      <a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
        class="fas fa-trash fa-2x"></i></a>
    </div>
  </header>

  <div class='attribute instruction-section' data-attribute='value'>
    <h1 class='attribute-label'>{{localize 'DSA.spellDurations'}}</h1>
    <div class='flexrow'>
      <div class='attribute' data-attribute='durations.timeframe'>
        <div class='attribute-label'>{{localize
            (concat 'DSA.durationTimeframe')
          }}</div>
        <div class='flexrow'>
          <input
            name='system.durations.timeframe'
            type='checkbox'
            data-dtype='Boolean'
            {{checked item.system.durations.timeframe}}
          />
        </div>
      </div>

      <div class='attribute' data-attribute='durations.instantaneousNatural'>
        <div class='attribute-label'>{{localize
            (concat 'DSA.durationInstantaneousNatural')
          }}</div>
        <div class='flexrow'>
          <input
            name='system.durations.instantaneousNatural'
            type='checkbox'
            data-dtype='Boolean'
            {{checked item.system.durations.instantaneousNatural}}
          />
        </div>
      </div>

      <div class='attribute' data-attribute='durations.instantaneousPermanent'>
        <div class='attribute-label'>{{localize
            (concat 'DSA.durationInstantaneousPermanent')
          }}</div>
        <div class='flexrow'>
          <input
            name='system.durations.instantaneousPermanent'
            type='checkbox'
            data-dtype='Boolean'
            {{checked item.system.durations.instantaneousPermanent}}
          />
        </div>
      </div>
    </div>
  </div>

  <div class='attribute instruction-section' data-attribute='value'>
    <h1 class='attribute-label'>{{localize 'DSA.spellTargets'}}</h1>
    <div class='flexrow'>
      <div class='attribute' data-attribute='targetsCategories.creature'>
        <div class='attribute-label'>{{localize
            (concat 'DSA.targetCreatures')
          }}</div>
        <div class='flexrow'>
          <input
            name='system.targetCategories.creature'
            type='checkbox'
            data-dtype='Boolean'
            {{checked item.system.targetCategories.creature}}
          />
        </div>
      </div>

      <div class='attribute' data-attribute='targetsCategories.object'>
        <div class='attribute-label'>{{localize
            (concat 'DSA.targetObjects')
          }}</div>
        <div class='flexrow'>
          <input
            name='system.targetCategories.object'
            type='checkbox'
            data-dtype='Boolean'
            {{checked item.system.targetCategories.object}}
          />
        </div>
      </div>

      <div class='attribute' data-attribute='targetsCategories.zone'>
        <div class='attribute-label'>{{localize
            (concat 'DSA.targetZones')
          }}</div>
        <div class='flexrow'>
          <input
            name='system.targetCategories.zone'
            type='checkbox'
            data-dtype='Boolean'
            {{checked item.system.targetCategories.zone}}
          />
        </div>
      </div>
    </div>
  </div>

  <div class='attribute instruction-section' data-attribute='value'>
    <h1 class='attribute-label instruction-section'>{{localize
        'DSA.formulaStructure'
      }}</h1>
    <table>
      <th class='equipment-table-header equipment-table-modifier'>{{localize
          'DSA.modifier'
        }}</th>
      <th class='equipment-table-header'>{{localize 'DSA.Name'}}</th>
      <th class='equipment-table-header'>{{localize 'DSA.active'}}</th>

      {{#each formulaStructureClasses as |structure|}}

      {{#with (lookup ../data.system.structures [structure])~}}
        <tr class='equipment-row' data-item-id='{{../structure}}'>
          <td>
            <div>{{localize (concat 'DSA.formulaStructure-' structure)}}</div>
          </td>
          <td>
            <input
              type='text'
              name='system.structures.{{structure}}.name'
              value='{{name}}'
              placeholder='{{localize "DSA.formulaStructure"}}'
            />
          </td>
          <td>
            <input
              name='system.structures.{{structure}}.active'
              type='checkbox'
              data-dtype='Boolean'
              {{checked active}}
            />
          </td>
        </tr>
      {{/with}}

      {{/each}}
    </table>
  </div>
</form>