<form class='{{cssClass}}' autocomplete='off'>
  {{! Item Sheet Header }}
  <header class='liturgy dsa-item-header' data-item-id='{{item.id}}'>
    <img
      class='dsa-item-header-icon'
      src='{{item.img}}'
      title='{{item.name}}'
      data-edit='img'
    />

    <h1 class='dsa-item-header-input'>
      <input
        name='name'
        type='text'
        value='{{item.name}}'
        placeholder='{{localize "DSA.Name"}}'
      />
    </h1>
    <div class='dsa-item-header-controls'>
      <a class='item-control item-delete' title='{{localize "DSA.Del"}}'><i
          class='fas fa-trash fa-2x'
        ></i></a>
    </div>
  </header>

  <div class='flexrow shield-attributes-list'>
    <div class='attribute' data-attribute='type'>
      <div class='attribute-label'>{{localize 'DSA.type'}}</div>
      <div class='flexrow'>
        <select name='system.type'>
          {{#select data.system.type}}
            {{#each types as |type id|}}
              <option value='{{type.value}}'>{{type.label}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class='attribute' data-attribute='degree'>
      <div class='attribute-label'>{{localize 'DSA.degree'}}</div>
      <div class='flexrow'>
        <select name='system.degree'>
          {{#select data.system.degree}}
            {{#each degrees as |degree i|}}
              <option value='{{degree}}'>{{degree}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class='attribute' data-attribute='castTime'>
      <div class='attribute-label'>{{localize 'DSA.liturgyCastTime'}}</div>
      <div class='flexrow'>
        <input
          name='system.castTime.duration'
          type='number'
          data-dtype='Number'
          value='{{data.system.castTime.duration}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
      <div class='flexrow'>
        <input
          name='system.castTime.unit'
          type='text'
          data-dtype='String'
          value='{{data.system.castTime.unit}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='castType'>
      <div class='attribute-label'>{{localize 'DSA.liturgyCastType'}}</div>
      <div class='flexrow'>
        <select name='system.castType'>
          {{#select data.castType}}
            {{#each castTypes as |castType id|}}
              <option value='{{castType.value}}'>{{castType.label}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class='attribute' data-attribute='effectTime'>
      <div class='attribute-label'>{{localize 'DSA.effectTime'}}</div>
      <div class='flexrow'>
        <input
          name='system.effectTime.duration'
          type='text'
          data-dtype='String'
          value='{{data.system.effectTime.duration}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
      <div class='flexrow'>
        <input
          name='system.effectTime.unit'
          type='text'
          data-dtype='String'
          value='{{data.system.effectTime.unit}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute target-classes-list'>
      <div class='attribute-label'>
        {{localize 'DSA.targetClasses'}}
        <a class='item-create' data-type='variant'><i
            class='fa fa-wrench'
          ></i></a>
      </div>
      {{#each targetClasses as |target_class id|}}
        <div class='flexrow'>
          {{target_class.label}}
        </div>
      {{/each}}
    </div>
    <div class='attribute' data-attribute='llPage'>
      <div class='attribute-label'><a
          class='open-ll-page'
          data-llPage='{{data.system.llPage}}'
        >{{localize 'DSA.llPage'}}</a></div>
      <div class='flexrow'>
        <input
          name='system.llPage'
          type='number'
          data-dtype='Number'
          value='{{data.system.llPage}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='description'>
      <div class='attribute-label'>{{localize 'DSA.description'}}</div>
      <div class='flexrow'>
        <textarea
          name='system.description'
          data-dtype='String'
        >{{data.system.description}}</textarea>
      </div>
    </div>
  </div>

  <div class='liturgy-variants'>
    <a class='item-create' data-type='variant'><i class='fa fa-plus'></i></a>
    {{#each variant_data as |variant id|}}
      <div class='flexrow'>
        <a
          class='item-edit'
          name='{{variant._id}}'
          title='{{localize "DSA.edit"}}'
        >{{variant.name}}</a>
      </div>
    {{/each}}
  </div>
</form>